* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

header {
  padding: 1rem;
  text-align: center;
  background-color: #e6e4e260;
}

header img {
  margin-top: 1.25rem;
  max-width: 300px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  background-color: #fff;
  margin: 0.2rem;
  padding: 0.5rem 1rem;
}

header a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

header p {
  font-weight: 300;
  word-spacing: 0.1rem;
  line-height: 1.25rem;
}

.portfolio {
  margin: 1rem;
  text-align: center;
}

.portfolio img {
  max-width: 100%;
}

.portfolio h3 {
  text-transform: uppercase;
  margin: 2.5rem 0;
}

.portfolio h2 {
  margin-top: 2rem;
}

.portfolio p {
  margin-bottom: 2rem;
  font-weight: 300;
}

footer {
  text-align: center;
  background-color: #e6e4e260;
  padding: 0.2rem 1rem;
}

footer .title {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 3rem;
}

footer p {
  font-weight: 300;
  margin: 1.25rem 0;
}

footer .contact-info {
  margin-left: 1rem;
  font-weight: 700;
}

footer .bottom-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.25rem;
}

footer .bottom-footer p {
  font-weight: 700;
  margin-right: auto;
}

footer .bottom-footer a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

footer .bottom-footer .desktop-link {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header-col {
    flex: 1;
  }

  .header-col-1 {
    flex: 1 100%;
  }

  .header-col-2 {
    flex: 1 100%;
  }

  .header-col-4 {
    margin-top: 0;
    margin-right: 1rem;
    max-width: 60%;
    text-align: start;
    align-self: flex-start;
  }

  .header-col-3 {
    order: 1;
    align-self: center;
    margin: 0 auto;
  }

  header ul {
    display: flex;
    justify-content: center;
  }

  header ul li {
    background-color: rgba(100, 100, 100, 0);
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
  }

  .col {
    flex: 1 50%;
    padding: 0.3rem;
    margin-bottom: 1rem;
  }

  .item-1 {
    flex-basis: 100%;
  }

  .col p {
    padding: 0 1.75rem;
  }

  footer .bottom-footer a {
    margin: 1rem;
    margin-right: 0;
  }

  footer .bottom-footer .desktop-link {
    display: inline;
  }

  footer .bottom-footer #mobile-link {
    display: none;
  }
}
